.header-task{
    padding-top:12px;
    padding-bottom: 12px;
    background-color: #E5E7EB;
    position: relative;
}
.header-task img{
    margin: 0 auto;
}
.js-logout-header{
    position: absolute;
    top: 16px;
    bottom: 16px;
    right: 19px;
    cursor: pointer;
}
.filters{
    padding-top: 12px;
    padding-right: 16px;
    padding-left: 16px;
    display: grid;
    gap: 17px;
    font-size: 14px;
    line-height: 20px;
}
.filters div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filters select{
    padding: 9px 18px 9px 13px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    width: 250px;
    font-size: 16px;
    line-height: 24px;

}
.checkbox-main{
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    appearance: none;
    cursor: pointer;
    margin: 0;
}
.checkbox-main:checked{
    background-image: url(/assets/icons/check-filter-on.svg);
    background-repeat: no-repeat;
    background-position: center;
    animation: tick 300ms forwards;
    margin: 0;
}
@keyframes tick {
    50% {
      transform: scale(1.25);
      background-color: var(--primary-300);
      border: 1px solid var(--primary-300);
    }
    100% {
      transform: scale(1);
      background-color: var(--primary-300);
      border: 1px solid var(--primary-300);
    }
}

.form-main{
    position: relative;
}
.checkbox-main-container{
    display: flex;
    gap: 10px;
}
.checkbox-main-container div{
    display: flex;
    gap: 10px;
}
li{
    list-style-type: none;
}
.cards-container{
    padding-top: 25px;
    padding-left: 16px;
    padding-right: 16px;
    display: grid;
    gap: 12px;
}
.card{
    position: relative;
}
.card-main{
    display: flex;
    gap: 10px;

}
.card-description{
    display: grid;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #9CA3AF;

}
.checkbox-card{
   margin-top: 4px;
   margin-left: 2px;
   

}
.img-importance{
    position:absolute;
    top: 6px;
    right: 2px;
    cursor: pointer;
}
.span-date-on{
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    font-weight: normal;
    color: #D1D5DB;
}
.span-date-off{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #6B7280;
}
.span-task-off{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #374151;
}
.span-task-on{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #9CA3AF;
}
.mg-btn{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: grid;
    padding-right: 18px;
    padding-left: 14px;
}
.mg-btn input{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #6B7280;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 13px;
}
.mg-btn button{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding:9px 128px;
}