<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>login</title>
</head>
<body>
    <div class="header-login">
        <img src="../../assets/icons/doable.svg" alt="">
    </div>
    <div class="container-login">
        <form action="">
            <div>
                <label for="">Email</label>
                <input type="text" placeholder="you@mail.com">
            </div>
            <div>
                <label for="">Password</label>
                <input type="password" placeholder="******">
            </div>
            <button class="btn-submit" type="submit">Login</button>
        </form>
        <span>Create account</span>
    </div>


    
</body>
</html>