<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>signUp</title>
</head>
<body>
    <div class="header-login">
        <img src="../../assets/icons/doable.svg" alt="">
    </div>
    <div class="container-login">
        <form action="">
            <div class="email-form">
                <label for="">Email</label>
                <div class="email-input"><input type="text" placeholder="you@example.com"></div>
            </div>
            <div class="email-form">
                <label for="">Password</label>
                <div class="email-input"><input type="password" placeholder="******"></div>
            </div>
            <button class="btn-submit" type="submit">Create account</button>
        </form>
        <div class="div-create-account"><a class="link-create-account href=">Login</a></div>


    </div>


    
</body>
</html>