<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>login</title>
</head>
<body>
    <div class="header-task">
        <img src="../../assets/icons/doable.svg" alt="">
        <img src="../../assets/icons/icon-logout.svg" alt="">
    </div>
    <form action="">
        <div>
        <label for="sort">Sort</label>
        <select name="sort" id="">
            <option value="alphabetical">Alphabetical (a-z)</option>
            <option value="date">Due Date</option>
            <option value="importance">Importance</option>
        </select>
        </div>
        <div>
            <label for="show">Show</label>
            <input type="checkbox" value="pending" checked>Only pending
            <input type="checkbox" value="important" checked>Only important
        </div>
        <ul>
            <li class="flex-task-li">
                <div><input type="checkbox"></div>
                <div class="flex-column-task">
                    <div class="flex-description">
                        <div>Complete assignments</div>
                        <div><img src="../../assets/icons/icon_off_importance.svg" alt=""></div>
                    </div>
                    <div class="date-task">Thursday, September 30</div>
                </div>
            </li>
            <li class="flex-task-li">
                <div><input type="checkbox"></div>
                <div class="flex-column-task">
                    <div class="flex-description">
                        <div>Do exercise</div>
                        <div><img src="../../assets/icons/icon_off_importance.svg" alt=""></div>
                    </div>
                    <div class="date-task">Thursday, September 30</div>
                </div>
            </li>
        </ul>
        <div class="mg-btn">
            <input name="title" type="text" placeholder="do the dishes...">
            <input name="due_date" type="date" placeholder="mm / dd / yy">
            <button class="btn-submit" type="submit">Add Task</button>
        </div>

    </form>
    


    
</body>
</html>