.border-gray {
  width: 355px;
  height: 1px;
  background-color: var(--font-grey);
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  z-index: -1;
}
.section-c{
  padding: 0px 10px;
}

.header-content{
  padding: 14px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rectangle{
  height: 1px;
  background-color:  rgba(0, 0, 0, 0.12);;
}

.pos-rectangle {
  position: fixed;
  bottom: 50px;
  right: 10px;
}
.description{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-c{
  margin-top: 16px;
}
.name-c{
  margin-top: 8px;
}
.friends{
  margin-top: 4px;
}
.details{
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 16px;
  margin-top: 24px;
}
.number-c{
  display: flex;
  gap: 8px;
}
.email-c{
  display: flex;
  gap: 21px;
}
.footer-c{
  padding: 15px 15px;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  font-size: 12px;
  line-height: 20px;
  color: var(--font-blue);
}

.details-footer{
  bottom: 0;
  position: fixed;
  right: 20px;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: var(--font-blue);
  width: 355px;
  height: 56px;
}

.content-global{
  margin: 0 50px;
  display: flex;
  flex-direction: column;
}

.error-message {
  color: var(--font-red);
  font-size: 10px;
  line-height: 16px;
}
.warning{
  font-size: 10px;
  color: #F5222D;
}
